@font-face {
    font-family: Akira;
    src: url(../Akira.otf);
}



body    {
    font-family: Akira;
    cursor: none;
    background: white;
}

a   {
}

#home-title {
  color: #000000;
  text-decoration: none;
  font-size: 32px;
  cursor: none;
}


/*
timeline ui idea taken from
https://codepen.io/tutsplus/pen/QNeJgR

*/
.timeline ul {
    transform: translate(-50%);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-bottom: 50px; 
  background: #000000;
  height: 500px;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li .tl-div {
  position: relative;
  top: -38.5vh;
  bottom: 30vh;
  width: 400px;
  padding: 15px;
  background: #000000;
  left: 45px;
  border-radius: 5px;
  height: 500px;
  transform: translate(0, 50%);
  margin-right: 100px;
}

.speaker-name {
  color: white;
  position: relative;
  top: -50px;
  font-size: 50px;
}



.lore {
  color: rgb(200, 200, 200);
  position: relative;
  top: -95px;
  height: 30px;
}


.lore-creds {
  position: relative;
  float: left;
  margin-right: 5px;
}

.lore-link > img{
  position: relative;
  height: 30px;
  float: left;
  margin-right: 5px;
  transform: translateY(50%);
}

.lore-signup  {
  position: relative;
  color: rgb(200, 200, 200);
  text-decoration: none;
  
}

.lore-item  {
  position: relative;
  float:left;
  top: -50%;
}

#sjoberg-img  {
  position: relative;
  width: 400px;
  transform: translateY(-31.5%);
}

.speaker-img  {

}

.speaker-img:hover  {
  opacity: .75;
  transition: opacity .5s ease-in-out;
}

.speaker-img:hover + .speaker-name  {
  opacity: .75;
  transition: opacity .5s ease-in-out;
  color: blueviolet;
}


/*
custom cursor from juxtopposed's codepen https://codepen.io/Juxtopposed/pen/NWExxja
*/

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(97, 39, 39);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.3s ease;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.custom-cursor.scale-up {
  transform: scale(2.5);
  transition: transform 0.5s ease;
}
